amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
blessings==1.6
bpython==0.14.1
celery==3.1.17
curtsies==0.1.19
defusedxml==0.4.1
django-bootstrap-form==3.2
django-bootstrap3==5.2.0
django-celery==3.1.16
django-material==0.2.0
docutils==0.12
ecdsa==0.13
flake8==2.4.0
greenlet==0.4.5
kombu==3.0.24
lockfile==0.10.2
mccabe==0.3
pep8==1.5.7
psycopg2==2.6
pycrypto==2.6.1
pyflakes==0.8.1
Pygments==2.0.2
python-daemon==1.5.5
pytz==2015.2
redis==2.10.3
requests==2.6.0
six==1.9.0
wstools==0.4.3
