{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="{% url  'home_home'  %}"><i class="fa fa-home"></i> HOME</a></li>
        <li><a href="{% url "accounts_list" %}"><i class="fa fa-users"></i> USUARIOS</a></li>
        <li class="active"><i class="fa fa-user"></i> {{ usuario.username|upper }}</a></li>
    </ul>
    <div class="m-b-md">
        <small>{{ user.username|upper }}</small>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">
                    <div class="h6 m-t-xs m-b-xs"><i class="fa fa-user fa-1x"></i> INFORMACION PERSONAL</div> 
                </header>
                <div class="panel-body">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="clearfix m-b">
                                    <a href="#" class="pull-right thumb m-r">
                                        <img src="{% static "images/avatar.jpg" %}" class="img-circle">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-striped m-b-none" data-ride="datatables">
                                    <tr>
                                        <div class="h1 m-t-xs m-b-xs">{{ usuario.last_name }} {{ usuario.first_name }}</div>
                                    </tr>
                                    <tr>
                                        <div class="h3 m-t-xs m-b-xs">{{ usuario.username }} </div>
                                    </tr>
                                    <tr>
                                        <div class="h4 m-t-xs m-b-xs">{{ usuario.oficina }} </div>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-2 m-b-xs b-b-xs">
                                <div class="clearfix m-b">
                                    <a href="#modal-codigo" class="btn btn-primary" data-toggle="modal">CAMBIAR CODIGO</a>
                                </div>
                            </div>
                            <hr class="h3" />
                            <div class="col-md-12 m-t-xs">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                        <tr>
                                       <td width="15%"></td> 
                                       <td width="85%"></td> 
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <div class="h3 m-t-xs m-b-xs"> <i class="fa fa-desktop fa-1x"></i> <small>CARGO</small></div>
                                            </td>
                                            <td>
                                                <div class="h4 m-t-xs m-b-xs">{{ usuario.cargo }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="h3 m-t-xs m-b-xs"> <i class="fa fa-envelope-o fa-1x"></i> <small>EMAIL</small> </div>
                                            </td>
                                            <td>
                                                <div class="h4 m-t-xs m-b-xs"> {{ usuario.email }} </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="h3 m-t-xs m-b-xs"> <i class="fa fa-credit-card fa-1x"></i> <small>DOCUMENTO</small> </div>
                                            </td>
                                            <td>
                                                <div class="h4 m-t-xs m-b-xs">{{ usuario.ci }} </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="h3 m-t-xs m-b-xs"> <i class="fa fa-calendar fa-1x"></i> <small>FECHA REGISTRO</small> </div>
                                            </td>
                                            <td>
                                                <div class="h4 m-t-xs m-b-xs">{{ usuario.fechaNacimiento }} </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold"> <div class="h6 m-t-xs m-b-xs"><i class="fa fa-phone fa-1x"></i> CODIGO DE PROYECTO</div> </header>
                <div class="panel-body">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                        <tr>
                                            <td width="40%"><strong>NUMERO DE CODIGO</strong></td> 
                                            <td width="40%"><strong>FECHA DE CREACION</strong></td> 
                                            <td width="20%"><strong>ESTADO</strong></td> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for codigo in usuario.codigos.all|dictsort:"fechaCreacion" %}
                                        <tr>
                                            <td>
                                                {{ codigo.id }} 
                                            </td>
                                            <td>
                                                {{ codigo.fechaCreacion }} 
                                            </td>
                                            <td>
                                                <span>
                                                {% if codigo.activo %}
                                                    <a href="#" class="active" data-toggle="class"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                                                {% else %}
                                                    <a href="#" class="active" data-toggle="class"><i class="fa fa-check text-danger text-active"></i><i class="fa fa-times text-danger text"></i></a>
                                                </span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold"> <div class="h6 m-t-xs m-b-xs"><i class="fa fa-edit fa-1x"></i> CUENTAS</div> </header>
                <div class="panel-body">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                        <tr>
                                            <td width="40%"><strong>MES</strong></td> 
                                            <td width="40%"><strong>GESTION</strong></td> 
                                            <td width="20%"><strong>GASTO</strong></td> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for cuenta in usuario.cuentas.all|dictsort:"gestion"|dictsort:"mes" %}
                                        <tr>
                                            <td>
                                                {{ codigo.id }} 
                                            </td>
                                            <td>
                                                {{ codigo.fechaCreacion }} 
                                            </td>
                                            <td>
                                                <span>
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <tr><td></td><td>No existen elemento que Mostart</td><td></td></tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}


{% block modal %}
<div class="modal fade" id="modal-codigo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r-l">
                        <h3 class="m-t-none m-b">GENERAR CODIGO</h3>
                        <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-6 control-label">NUEVO CODIGO</label>
                                <div class="col-md-6">
                                    <input type="text" name="mask" disabled id="mask" class="form-control"/>
                                    <input type="hidden" name="codigo" required id="codigo" class="form-control"/>
                                </div>
                            </div>
                            <div class="checkbox m-t-lg">
                                <a onclick="generarCodigo()" class="btn btn-sm btn-info pull-right text-uc m-t-n-xs"><strong>GENERAR</strong></a>
                                <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs"><strong>GUARDAR</strong></button>
                            </div>                
                        </form>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
function generarCodigo()
{
    $.get("{% url "accounts_generateCode" %}", function(data,status){
        $("#codigo").val((data["content"]));
        $("#mask").val((data["content"]));
    });
}
</script>
{% endblock %}
